main {
    display: flex;
    flex-direction: column;
    background: var(--bgc-card) url(images/bgs/bg-1.png);
    justify-content: center;
    align-items: center;
    height: 600px;
    border-radius: 3rem;
    text-align: center;
}

.hero__text{
    font-size: 18pt;
}

.about {
    display: flex;
    flex-direction: column;
    background: var(--bgc-card);
    border-radius: 3rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
}
